@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-size: 1.2rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Video Transition */
.slide-enter {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 750ms ease-in-out, opacity 750ms ease-in-out;
}

.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit {
  transform: translateX(0);
  opacity: 0.5;
  transition: transform 750ms ease-in-out, opacity 750ms ease-in-out;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}
